<div class="container" >
  <div class="input-field col s12">
    <input id="country" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=search()>
  </div>
  <div class="suggestions" *ngIf="filtered.length > 0">
    <ul *ngFor="let item of filtered" >
      <li >
        <a (click)="select(item)">{{item}}</a>
      </li>
    </ul>
  </div>
  <div *ngFor="let item of selected">
    <div class="selected" >
      <span>{{item}}</span>
      <a (click)="remove(item)">x</a>
    </div>
  </div>
</div>
<div *ngFor="let person of people | SkillsPipe:selected">
  {{person.name}}
</div>
